<tui-hosted-dropdown #dropdown [content]="content" [(open)]="isDropdownOpen">
  <button
    tuiIconButton
    type="button"
    icon="tuiIconMoreVer"
    appearance="flat"
    size="s"
    [pseudoHovered]="dropdown.open || null"
  ></button>
</tui-hosted-dropdown>
<ng-template #content let-activeZone>
  <tui-data-list
    tuiDataListDropdownManager
    [tuiActiveZoneParent]="activeZone"
  >
    <button
      tuiOption
      (click)="showEditDialog()"
    >Edit
    </button>
    <button
      tuiOption
      (click)="showDeleteDialog(template)"
    >Delete
    </button>
  </tui-data-list>

</ng-template>

<ng-template #template let-observer>
  <h4>Are you sure you want to delete this todo?</h4>
  <div class="buttons">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="custom"
      class="delete"
      (click)="onClickDelete(observer)"
    >Delete
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      (click)="observer.complete()"
    >Cancel
    </button>
  </div>
</ng-template>
