#card {
  .shadow(2);
}

#options {
  position: absolute;
  left: 90%;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.low {
  background-color: var(--tui-support-02);
  color: #FFFFFF;
}

.medium {
  background-color: var(--tui-support-08);
  color: #FFFFFF;
}

.high {
  background-color: var(--tui-support-06);
  color: #FFFFFF;
}


.shadow(@mode: 1) {
  // Default
  & when (@mode = 1) {
    box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12);
  }

  // Dropdown
  & when (@mode = 2) {
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
  }

  // Modal
  & when (@mode = 3) {
    box-shadow: 0 1.125rem 1.875rem rgba(51, 51, 51, 0.52);
  }

  // Sidebar
  & when (@mode = 4) {
    box-shadow: 0.25rem 0 1.5rem rgba(0, 0, 0, 0.12);
  }

  // Hover
  & when (@mode = 5) {
    box-shadow: 0 0.75rem 2.25rem rgba(0, 0, 0, 0.2);
  }

  // Navigation
  & when (@mode = 6) {
    box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.08);
  }

  // Modal mobile
  & when (@mode = 7) {
    box-shadow: 0 -1rem 1.75rem rgba(51, 51, 51, 0.24);
  }
}
