<tui-input [(ngModel)]="title" tuiTextfieldSize="m">Title</tui-input>
<tui-text-area [tuiTextfieldMaxLength]="300" [(ngModel)]="description"></tui-text-area>
<tui-select
  tuiTextfieldSize="m"
  [tuiTextfieldLabelOutside]="true"
  [(ngModel)]="priority"
>
  Pick a priority
  <tui-data-list-wrapper *tuiDataList [items]="priorityValues"></tui-data-list-wrapper>
</tui-select>
<tui-input-date
  tuiUnfinishedValidator="Finish filling the field"
  [(ngModel)]="dueDate"
>
  Pick a date
</tui-input-date>
<button
  tuiButton
  type="button"
  size="m"
  [disabled]="isEmpty"
  (click)="submit()"
>
  Submit
</button>
